/**
  * i LOVE ubuntu font
  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/**
  * Common styles for Danbooru Tools pages
  * Changing default values for spacing and fonts
  */
body {
  margin: calc(2em + 16px) 10px 10px;
  height: calc(100vh - (2em + 16px) - 10px);
  box-sizing: border-box;
}
textarea {
  resize: none;
}
h4 {
  margin-bottom: 4px;
  margin-top: 8px;
}

body,
input,
select,
textarea,
button {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}

fieldset {
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 5px;
}

/**
  * Header styles for tabs
  */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2em;
  z-index: 1;

  background-color: #333;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

header > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  color: white;
  text-decoration: none;
  padding: 5px;
}

header > a#current-page {
  color: #333;
  background-color: white;
}
