/**
  * i LOVE ubuntu font
  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/**
  * Common styles for Danbooru Tools pages
  * Setting default values for colors
  */
:root {
  --background-color: white;
  --header-color: #333;
  --font-color: black;
  --link-color: blue;
  --visited-color: purple;
}
[data-theme="dark"] {
  --background-color: #333;
  --header-color: #ccc;
  --font-color: white;
  --link-color: cornflowerblue;
  --visited-color: plum;
}
:link {
  color: var(--link-color);
}
:visited {
  color: var(--visited-color);
}

/**
  * Changing default values for spacing and fonts
  */
body {
  margin: calc(2em + 16px) 10px 10px;
  min-height: calc(100vh - 2em - 26px);
  box-sizing: border-box;
}
textarea {
  resize: none;
}
h4 {
  margin-bottom: 4px;
  margin-top: 8px;
}

body,
input,
select,
textarea,
button {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: 1.4em;
  border-radius: 5px;
}

fieldset {
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 5px;
}

/**
  * Header styles for tabs
  */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2em;
  z-index: 1;

  background-color: var(--header-color);
  margin: 0;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

header > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  color: var(--background-color) !important;
  text-decoration: none;
  padding: 5px;
}

header > a#current-page {
  color: var(--header-color) !important;
  background-color: var(--background-color);
}
