:root {
  --drag-selected: #ccc;
  --drag-border: black;
  --default-bbox: #0004;
  --bbox-border: white;
  --blue-bbox: #19197044;
  --green-bbox: #00800044;

  --white-accent: #aaa;
  --blue: skyblue;
  --blue-accent: cornflowerblue;
  --text-blue: blue;
  --green: lightgreen;
  --green-accent: mediumseagreen;
  --text-green: green;
}
[data-theme="dark"] {
  --drag-selected: #222;
  --drag-border: white;

  --white-accent: #888;
  --blue: darkblue;
  --blue-accent: blue;
  --text-blue: skyblue;
  --green: darkgreen;
  --green-accent: green;
  --text-green: lightgreen;
}

body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.top-bar {
  display: flex;
  gap: 6px;
  align-items: center;
}
#main {
  flex: 1;
  display: flex;
  align-items: stretch;
  gap: 12px;
}

#image-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
#image-container.dragover {
  background: var(--drag-selected);
  margin: -4px;
  border: 4px dotted var(--drag-border);
}
#textbox-container {
  position: sticky;
  top: calc(2em + 6px);
  max-height: calc(100vh - 8.87em - 62px);

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#textbox-container > textarea {
  flex: 1;
}

#with-image {
  position: relative;
}
#with-image > img {
  margin-bottom: -6px;
  max-width: 100%;
}

.bbox {
  background: var(--default-bbox);
  border: 1px solid var(--bbox-border);
  position: absolute;
  cursor: pointer;
}
#blue-bbox {
  background: var(--blue-bbox);
  z-index: 1;
}
#green-bbox {
  background: var(--green-bbox);
  z-index: 1;
}
#with-image.hide-bbox > .bbox:not(#blue-bbox) {
  display: none;
}
#with-image.no-pointer > .bbox {
  pointer-events: none;
}

/* #no-image {
        display: flex;
        flex-direction: column;
        align-items: center;
      } */
#button-grid {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  gap: 6px;
}
#button-grid > button {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 6px;
  padding-left: 6px;
  padding-right: 12px;
}
#button-grid > button > img {
  width: 1lh;
  height: 1lh;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotate-gradient {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.rotate {
  animation: rotate-gradient 1s linear infinite;
  background: linear-gradient(
    var(--rotate),
    var(--background-color),
    var(--white-accent)
  );
}
.blue-border {
  background: var(--blue);
}
.blue-border.rotate {
  animation: rotate-gradient 1s linear infinite;
  background: linear-gradient(var(--rotate), var(--blue), var(--blue-accent));
}
.green-border {
  background: var(--green);
}
.green-border.rotate {
  animation: rotate-gradient 1s linear infinite;
  background: linear-gradient(var(--rotate), var(--green), var(--green-accent));
}
.blue-border img,
.green-border img {
  cursor: crosshair;
}
